WMS.UI.Controllers/Service References/WCF.RecService/RecService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Receipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AltItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Custom3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerPoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoldReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HuId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LotDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LotFlag" type="xs:int" />
      <xs:element minOccurs="0" name="LotNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LotNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoId" type="xs:int" />
      <xs:element minOccurs="0" name="Qty" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReceiptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegId" type="xs:int" />
      <xs:element minOccurs="0" name="SoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitId" type="xs:int" />
      <xs:element minOccurs="0" name="UnitName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Receipt" nillable="true" type="tns:Receipt" />
  <xs:complexType name="ArrayOfHoldMaster">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoldMaster" nillable="true" type="tns:HoldMaster" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoldMaster" nillable="true" type="tns:ArrayOfHoldMaster" />
  <xs:complexType name="HoldMaster">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoldReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoldMaster" nillable="true" type="tns:HoldMaster" />
  <xs:complexType name="ArrayOfLookUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookUp" nillable="true" type="tns:LookUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookUp" nillable="true" type="tns:ArrayOfLookUp" />
  <xs:complexType name="LookUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookUp" nillable="true" type="tns:LookUp" />
  <xs:complexType name="ArrayOfDamcoGRNDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DamcoGRNDetail" nillable="true" type="tns:DamcoGRNDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDamcoGRNDetail" nillable="true" type="tns:ArrayOfDamcoGRNDetail" />
  <xs:complexType name="DamcoGRNDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AVG_Cbm" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AVG_Kgs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AVG_Qty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AVG_ReceiptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AltItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRN_Cbm" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GRN_Kgs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GRN_Qty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GRN_ReceiptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GWI_Cbm" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GWI_Kgs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GWI_Pcs" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GWI_Qty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LN" type="xs:int" />
      <xs:element minOccurs="0" name="PoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMS_Cbm" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WMS_Kgs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="WMS_Qty" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WMS_ReceiptDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DamcoGRNDetail" nillable="true" type="tns:DamcoGRNDetail" />
  <xs:complexType name="ArrayOfRecLossType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecLossType" nillable="true" type="tns:RecLossType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecLossType" nillable="true" type="tns:ArrayOfRecLossType" />
  <xs:complexType name="RecLossType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RecLossType1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecLossType" nillable="true" type="tns:RecLossType" />
  <xs:complexType name="RecLoss">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RecLossDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecLossName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecLossTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecSort" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecLoss" nillable="true" type="tns:RecLoss" />
</xs:schema>