WMS.UI.Controllers/Service References/WCF.GMSService/GMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WMS.BLLClass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WMS.BLLClass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QueueParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JumpingRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnloadingArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="smallloadArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueueParam" nillable="true" type="tns:QueueParam" />
  <xs:complexType name="TruckQueueHeadParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllowUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepartureType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GreenPassFlag" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JumpingRemark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WMSWhCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckQueueHeadParam" nillable="true" type="tns:TruckQueueHeadParam" />
  <xs:complexType name="TruckQueueDetailParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="BkDateBegin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkDateEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BkIsValid" type="xs:int" />
      <xs:element minOccurs="0" name="BkNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookOrigin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CBM" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClientCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeesStatus" type="xs:int" />
      <xs:element minOccurs="0" name="GoodsType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeadId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoticeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="OverSizeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="Qty" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeeFlag" type="xs:int" />
      <xs:element minOccurs="0" name="SeeTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeeUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnloadingArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TruckQueueDetailParam" nillable="true" type="tns:TruckQueueDetailParam" />
  <xs:complexType name="ReceiptParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReceiptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TruckNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiptParam" nillable="true" type="tns:ReceiptParam" />
  <xs:complexType name="ArrayOfWhZoneResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WhZoneResult" nillable="true" type="tns:WhZoneResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWhZoneResult" nillable="true" type="tns:ArrayOfWhZoneResult" />
  <xs:complexType name="WhZoneResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ParentZoneName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RegShow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneCBM" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WhZoneResult" nillable="true" type="tns:WhZoneResult" />
</xs:schema>