WMS.UI.Controllers/Service References/WCF.GMSService/GMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45936/GMSService/GMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.BLLClass" />
  <xs:import schemaLocation="http://localhost:45936/GMSService/GMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" />
  <xs:element name="ReleaseTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="queueParam" nillable="true" type="q1:QueueParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReleaseTruckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTruckInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="queueParam" nillable="true" type="q2:QueueParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTruckInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTruckInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTruckDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="queueParam" nillable="true" type="q3:QueueParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTruckDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTruckDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckQueueHead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="truckQueueHeadParam" nillable="true" type="q4:TruckQueueHeadParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckQueueHeadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTruckQueueHeadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookChannelSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookChannelSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="BookChannelSelectResult" nillable="true" type="q5:ArrayOfLookUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckQueueDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="truckQueueDetailParam" nillable="true" type="q6:TruckQueueDetailParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTruckQueueDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTruckQueueDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTruckQueueHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="truckQueueHeadParam" nillable="true" type="q7:TruckQueueHeadParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTruckQueueHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTruckQueueHeaderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTruckQueueDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="truckQueueDetailParam" nillable="true" type="q8:TruckQueueDetailParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTruckQueueDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTruckQueueDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unlockTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="queueParam" nillable="true" type="q9:QueueParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unlockTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unlockTruckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInGate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="receiptParam" nillable="true" type="q10:ReceiptParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInGateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInGateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leaveGate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="receiptParam" nillable="true" type="q11:ReceiptParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="leaveGateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="leaveGateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmallLoadAreaList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UnloadingArea" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmallLoadAreaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="GetSmallLoadAreaListResult" nillable="true" type="q12:ArrayOfWhZoneResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>