WMS.UI.Controllers/Service References/WCF.GMSService/GMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLookUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookUp" nillable="true" type="tns:LookUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookUp" nillable="true" type="tns:ArrayOfLookUp" />
  <xs:complexType name="LookUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookUp" nillable="true" type="tns:LookUp" />
</xs:schema>