WMS.UI.Controllers/Service References/WCF.AdminService/AdminService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45936/AdminService/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" />
  <xs:import schemaLocation="http://localhost:45936/AdminService/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS.BLLClass" />
  <xs:import schemaLocation="http://localhost:45936/AdminService/AdminService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="LoginIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="whUser" nillable="true" type="q1:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoginInResult" nillable="true" type="q2:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdatePwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="whUser" nillable="true" type="q3:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserUpdatePwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserUpdatePwdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhCompanyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhCompanyListResult" nillable="true" type="q4:ArrayOfWhCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhInfoListResult" nillable="true" type="q5:ArrayOfWhInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkPowerByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkPowerByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="GetWorkPowerByUserResult" nillable="true" type="q6:ArrayOfWhPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q7:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhUserAddResult" nillable="true" type="q8:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="R_WhInfo_WhUserAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q9:ArrayOfR_WhInfo_WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="R_WhInfo_WhUserAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="R_WhInfo_WhUserAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whUserSearch" nillable="true" type="q10:WhUserSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhUserListResult" nillable="true" type="q11:ArrayOfWhUserResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionSearch" nillable="true" type="q12:WhPositionSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPositionUnselectedResult" nillable="true" type="q13:ArrayOfWhPositionResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whUserWhPositionSearch" nillable="true" type="q14:WhUserWhPositionSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPositionSelectedResult" nillable="true" type="q15:ArrayOfWhUserWhPositionResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q16:WhInfoSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhInfoUnselectedResult" nillable="true" type="q17:ArrayOfWhInfoResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q18:WhInfoSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhInfoSelectedResult" nillable="true" type="q19:ArrayOfWhInfoWhUserResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPositionDeleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPositionDeleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhUserPositionDeleteByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoWhUserDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoWhUserDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhInfoWhUserDelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPositionListAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q20:ArrayOfWhUserPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPositionListAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhUserPositionListAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPwdInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q21:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserPwdInitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhUserPwdInitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q22:WhUser" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhUserEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoWhUserEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q24:R_WhInfo_WhUser" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoWhUserEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhInfoWhUserEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhPositionSelectResult" nillable="true" type="q26:ArrayOfWhPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyWhUserPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="copyUserId" type="xs:int" />
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyWhUserPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyWhUserPositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserCheckFlagEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkFlag" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserCheckFlagEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhUserCheckFlagEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionSearch" nillable="true" type="q27:WhPositionSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhPositionListResult" nillable="true" type="q28:ArrayOfWhPosition" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q29:WhPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhPositionAddResult" nillable="true" type="q30:WhPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q31:WhPosition" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhPositionEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPowerSearch" nillable="true" type="q33:WhPowerSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPowerUnselectedResult" nillable="true" type="q34:ArrayOfWhPowerResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionWhPowerSearch" nillable="true" type="q35:WhPositionWhPowerSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPowerSelectedResult" nillable="true" type="q36:ArrayOfWhPositionWhPowerResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionPowerListAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q37:ArrayOfWhPositionPower" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionPowerListAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhPositionPowerListAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionPowerDelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPositionPowerDelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhPositionPowerDelByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPowerSearch" nillable="true" type="q38:WhPowerSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhPowerListResult" nillable="true" type="q39:ArrayOfWhPower" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q40:WhPower" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhPowerAddResult" nillable="true" type="q41:WhPower" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerDelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerDelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhPowerDelByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerMVCUpdateByPowerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q42:WhPositionPowerMVC" />
        <xs:element minOccurs="0" name="powerId" type="xs:int" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerMVCUpdateByPowerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PowerMVCUpdateByPowerIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerMVCUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionPowerMVCSearch" nillable="true" type="q44:WhPositionPowerMVCSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerMVCUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPowerMVCUnselectedResult" nillable="true" type="q45:ArrayOfWhPositionPowerMVCResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPoweMVCSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionPowerMVCSearch" nillable="true" type="q46:WhPositionPowerMVCSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPoweMVCSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPoweMVCSelectedResult" nillable="true" type="q47:ArrayOfWhPositionPowerMVCResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerMVCUpdateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q48:WhPositionPowerMVC" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PowerMVCUpdateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PowerMVCUpdateByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q50:ArrayOfWhPositionPowerMVC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="enity" nillable="true" type="q51:WhPower" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhPowerEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whMenuSearch" nillable="true" type="q53:WhMenuSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhMenuListResult" nillable="true" type="q54:ArrayOfWhMenuResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q55:WhMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhMenuAddResult" nillable="true" type="q56:WhMenu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuDelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuDelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhMenuDelByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="search" nillable="true" type="q57:WhMenuSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhMenuUnselectedResult" nillable="true" type="q58:ArrayOfWhPower" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="search" nillable="true" type="q59:WhMenuSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhMenuSelectedResult" nillable="true" type="q60:ArrayOfWhPower" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuUpdateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q61:WhMenu" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q62:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuUpdateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhMenuUpdateByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuNameSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuNameSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="MenuNameSelectResult" nillable="true" type="q63:ArrayOfWhMenuResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="whMenu" nillable="true" type="q64:WhMenu" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q65:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhMenuEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhMenuEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerMVCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="whPositionPowerMVCSearch" nillable="true" type="q66:WhPositionPowerMVCSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhPowerMVCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhPowerMVCListResult" nillable="true" type="q67:ArrayOfWhPositionPowerMVCResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserMenuGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="whUser" nillable="true" type="q68:WhUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhUserMenuGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhUserMenuGetResult" nillable="true" type="q69:ArrayOfWhMenuResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessObjectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q70:BusinessObjectSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessObjectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="BusinessObjectListResult" nillable="true" type="q71:ArrayOfBusinessObject" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectDesSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectDesSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="BusObjectDesSelectResult" nillable="true" type="q72:ArrayOfBusinessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectTypeSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectTypeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="BusObjectTypeSelectResult" nillable="true" type="q73:ArrayOfBusinessObjectResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q74:BusinessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddBusObjectResult" nillable="true" type="q75:BusinessObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusObjectItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q76:BusinessObjectItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusObjectItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddBusObjectItemResult" nillable="true" type="q77:BusinessObjectItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessObjectItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q78:BusinessObjectItemSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusinessObjectItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="BusinessObjectItemListResult" nillable="true" type="q79:ArrayOfBusinessObjectItem" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectItemDelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectItemDelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusObjectItemDelByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusObjectDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BusObjectDelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFFlowRuleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q80:RFFlowRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFFlowRuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RFFlowRuleListResult" nillable="true" type="q81:ArrayOfRFFlowRuleResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRFFlorRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q82:RFFlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRFFlorRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddRFFlorRuleResult" nillable="true" type="q83:RFFlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFFlowRuleDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RFFlowRuleDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFFlowRuleDelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRFFlowRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q84:RFFlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRFFlowRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRFFlowRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q85:FlowRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="FlowRuleListResult" nillable="true" type="q86:ArrayOfFlowRuleResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlowRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q87:FlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFlowRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddFlowRuleResult" nillable="true" type="q88:FlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlowRuleDelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFlowRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q89:FlowRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFlowRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditFlowRuleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowNameSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowNameSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="FlowNameSelectResult" nillable="true" type="q90:ArrayOfBusinessFlowGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q91:WhInfoSearch1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="WhInfoNameListResult" nillable="true" type="q92:ArrayOfWhInfoResult1" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q93:WhInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhInfoAddResult" nillable="true" type="q94:WhInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q95:WhInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhInfoEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WhInfoEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>