WMS.UI.Controllers/Service References/WCF.OutBoundService/OutBoundService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45936/OutBoundService/OutBoundService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WMS.BLLClass" />
  <xs:import schemaLocation="http://localhost:45936/OutBoundService/OutBoundService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" />
  <xs:import schemaLocation="http://localhost:45936/OutBoundService/OutBoundService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InterceptOutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q1:OutBoundOrderSearch1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterceptOutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="InterceptOutBoundOrderListResult" nillable="true" type="q2:ArrayOfOutBoundOrderResult1" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientFlowNameSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientFlowNameSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="ClientFlowNameSelectResult" nillable="true" type="q3:ArrayOfFlowHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptIdByInterceptOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outBoundOrderId" type="xs:int" />
        <xs:element minOccurs="0" name="processId" type="xs:int" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recLocationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptIdByInterceptOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReceiptIdByInterceptOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptIdByInterceptOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="outBoundOrderIdList" nillable="true" type="q4:ArrayOfint" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptIdByInterceptOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReceiptIdByInterceptOrderListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInterceptOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outBoundOrderId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInterceptOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckInterceptOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterceptOrderReceiptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutPoNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInterceptOrderReceiptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInterceptOrderReceiptIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterceptOrderBatchReturnToWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outBoundOrderIdList" type="xs:int" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="abLocation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InterceptOrderBatchReturnToWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InterceptOrderBatchReturnToWarehouseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsOutBoundOrderExtendBySN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entityList" nillable="true" type="q5:ArrayOfOutBoundOrderExtendInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsOutBoundOrderExtendBySNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsOutBoundOrderExtendBySNResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q6:PickTaskDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="PickTaskDetailListResult" nillable="true" type="q7:ArrayOfPickTaskDetailResult2" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailHuIdDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q8:PickTaskDetailResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailHuIdDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PickTaskDetailHuIdDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailHuIdAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q9:PickTaskDetailResult2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PickTaskDetailHuIdAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PickTaskDetailHuIdAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CottonExcelImportOutBoundList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q10:ExcelImportOutBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CottonExcelImportOutBoundListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="CottonExcelImportOutBoundListResult" nillable="true" type="q11:ArrayOfExcelImportOutBound" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportOutBoundCotton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q12:ArrayOfExcelImportOutBound" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportOutBoundCottonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelImportOutBoundCottonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q13:OutBoundOrderSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="OutBoundOrderListResult" nillable="true" type="q14:ArrayOfOutBoundOrderResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutFlowHeadListByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutFlowHeadListByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="OutFlowHeadListByClientIdResult" nillable="true" type="q15:ArrayOfFlowHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutFlowHeadListSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutFlowHeadListSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="OutFlowHeadListSelectResult" nillable="true" type="q16:ArrayOfFlowHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleStatusListSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FlowRuleStatusListSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="FlowRuleStatusListSelectResult" nillable="true" type="q17:ArrayOfLookUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q18:OutBoundOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="OutBoundOrderAddResult" nillable="true" type="q19:OutBoundOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOutBoundOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="eneity" nillable="true" type="q20:OutBoundOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOutBoundOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmOutBoundOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackOutBoundOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="eneity" nillable="true" type="q21:OutBoundOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackOutBoundOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollbackOutBoundOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundCheckUnitName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q22:OutBoundOrderDetailInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundCheckUnitNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundCheckUnitNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q23:OutBoundOrderDetailInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundOrderDetailAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q24:OutBoundOrderDetailSearch" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemNumberList" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="OutBoundOrderDetailListResult" nillable="true" type="q26:ArrayOfOutBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q27:OutBoundOrderDetail" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q28:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundOrderDetailEditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDetailDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundOrderDetailDelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundOrderDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsOutBoundOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entityList" nillable="true" type="q29:ArrayOfImportOutBoundOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsOutBoundOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsOutBoundOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q30:LoadMasterSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadMasterListResult" nillable="true" type="q31:ArrayOfLoadMasterResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadToOutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q32:OutBoundOrderSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadToOutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadToOutBoundOrderListResult" nillable="true" type="q33:ArrayOfOutBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q34:LoadMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadMasterAddResult" nillable="true" type="q35:LoadMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerExtendAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q36:LoadContainerExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerExtendAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerExtendAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerTypeSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerTypeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadContainerTypeSelectResult" nillable="true" type="q37:ArrayOfLoadContainerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_OutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q38:OutBoundOrderSearch" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customerOutPo" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_OutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="Load_OutBoundOrderListResult" nillable="true" type="q40:ArrayOfOutBoundOrderResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q41:ArrayOfLoadDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetailAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadDetailAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadMasterDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSecond_OutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q42:OutBoundOrderSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSecond_OutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadSecond_OutBoundOrderListResult" nillable="true" type="q43:ArrayOfOutBoundOrderResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetailDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDetailDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadDetailDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckReleaseLoadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackLoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollbackLoadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseLoadGetType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="getType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReleaseLoadGetTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckReleaseLoadGetTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q44:LoadHuIdExtendSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadHuIdExtendSearchResult" nillable="true" type="q45:ArrayOfLoadHuIdExtend" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q46:ArrayOfLoadHuIdExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadHuIdExtendImportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadHuIdExtendDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadHuIdExtendDeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterEditRemark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q47:LoadMaster" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMasterEditRemarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadMasterEditRemarkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q48:LoadContainerSearch" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="containerNumber" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadContainerListResult" nillable="true" type="q50:ArrayOfLoadContainerResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="CreateUserSelectResult" nillable="true" type="q51:ArrayOfCreateUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q52:LoadContainerExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadContainerAddResult" nillable="true" type="q53:LoadContainerExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q54:LoadContainerExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerDeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q55:LoadContainerHuDetailSearch" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadContainerHuDetailListResult" nillable="true" type="q57:ArrayOfLoadContainerHuDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailListByPOSKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q58:LoadContainerHuDetailSearch" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q59:ArrayOfstring" />
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q60:ArrayOfstring" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuList" nillable="true" type="q61:ArrayOfstring" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="style1List" nillable="true" type="q62:ArrayOfstring" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="style2List" nillable="true" type="q63:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailListByPOSKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadContainerHuDetailListByPOSKUResult" nillable="true" type="q64:ArrayOfLoadContainerHuDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerClientCodeRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="client" nillable="true" type="q65:ArrayOfWhClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerClientCodeRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="CheckLoadContainerClientCodeRuleResult" nillable="true" type="q66:ArrayOfFlowHeadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q67:ArrayOfstring" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientCodeList" nillable="true" type="q68:ArrayOfstring" />
        <xs:element minOccurs="0" name="processId" type="xs:int" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerHuDetailAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAddByPOSKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q69:ArrayOfstring" />
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q70:ArrayOfstring" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="altList" nillable="true" type="q71:ArrayOfstring" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientCodeList" nillable="true" type="q72:ArrayOfstring" />
        <xs:element minOccurs="0" name="processId" type="xs:int" />
        <xs:element minOccurs="0" name="processName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAddByPOSKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerHuDetailAddByPOSKUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAddByImportPOSKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q73:ArrayOfstring" />
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q74:ArrayOfstring" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="altList" nillable="true" type="q75:ArrayOfstring" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientCodeList" nillable="true" type="q76:ArrayOfstring" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="qtyList" nillable="true" type="q77:ArrayOfint" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sequenceList" nillable="true" type="q78:ArrayOfint" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailAddByImportPOSKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerHuDetailAddByImportPOSKUResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q79:LoadContainerHuDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="SelectLoadContainerHuDetailBySoResult" nillable="true" type="q80:ArrayOfLoadContainerHuDetailResult2" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q81:LoadContainerHuDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="SelectLoadContainerHuDetailBySoPoResult" nillable="true" type="q82:ArrayOfLoadContainerHuDetailResult2" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPoSku">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q83:LoadContainerHuDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPoSkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="SelectLoadContainerHuDetailBySoPoSkuResult" nillable="true" type="q84:ArrayOfLoadContainerHuDetailResult2" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPoSkuStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q85:LoadContainerHuDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLoadContainerHuDetailBySoPoSkuStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="SelectLoadContainerHuDetailBySoPoSkuStyleResult" nillable="true" type="q86:ArrayOfLoadContainerHuDetailResult2" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q87:LoadContainerExtendHuDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerHuDetailEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q88:LoadContainerExtendHuDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerHuDetailDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerHuDetailDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q89:ArrayOfstring" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sequenceList" nillable="true" type="q90:ArrayOfstring" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsSequenceBySoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q91:ArrayOfstring" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sequenceList" nillable="true" type="q93:ArrayOfstring" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsSequenceBySoPoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPoSku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q94:ArrayOfstring" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q95:ArrayOfstring" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuList" nillable="true" type="q96:ArrayOfstring" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sequenceList" nillable="true" type="q97:ArrayOfstring" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPoSkuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsSequenceBySoPoSkuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPoSkuStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q98:ArrayOfstring" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q99:ArrayOfstring" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuList" nillable="true" type="q100:ArrayOfstring" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemIdList" nillable="true" type="q101:ArrayOfstring" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sequenceList" nillable="true" type="q102:ArrayOfstring" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsSequenceBySoPoSkuStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsSequenceBySoPoSkuStyleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmLoadMasterAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmLoadMasterAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmLoadMasterAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerDetailToRealease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerDetailToRealeaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoadContainerDetailToRealeaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerQtyToOutDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerQtyToOutDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoadContainerQtyToOutDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerCBMToRealease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadContainerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadContainerCBMToRealeaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckLoadContainerCBMToRealeaseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSOutBoundOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q103:OutBoundOrderSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSOutBoundOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="DSOutBoundOrderListResult" nillable="true" type="q104:ArrayOfOutBoundOrderResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSOutBoundImport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entityList" nillable="true" type="q105:ArrayOfImportOutBoundOrder" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSOutBoundImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSOutBoundImportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSLoadDetailDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSLoadDetailDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DSLoadDetailDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOutTempalte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOutTempalteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintOutTempalteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleUnselected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q106:LoadChargeRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleUnselectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeRuleUnselectedResult" nillable="true" type="q107:ArrayOfLoadChargeRuleResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q108:LoadChargeRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeRuleSelectedResult" nillable="true" type="q109:ArrayOfLoadChargeDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q110:LoadChargeDetailInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeRuleCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailDelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailDelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeDetailDelByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailWarehouseList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q111:LoadContainerSearch" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="containerNumber" nillable="true" type="q112:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailWarehouseListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeDetailWarehouseListResult" nillable="true" type="q113:ArrayOfLoadContainerResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleWarehouseSelected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q114:LoadChargeRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleWarehouseSelectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeRuleWarehouseSelectedResult" nillable="true" type="q115:ArrayOfLoadChargeDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerWarehouseEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="id" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="qtycbm" nillable="true" type="q117:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadContainerWarehouseEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadContainerWarehouseEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeDetailCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeClientAutoCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q118:LoadChargeDetailResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeClientAutoChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeClientAutoChargeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q119:LoadChargeRuleSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeDetailListResult" nillable="true" type="q120:ArrayOfLoadChargeDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AAgainLoadCharge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loadId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AAgainLoadChargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AAgainLoadChargeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DaiDianSelectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DaiDianSelectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="DaiDianSelectListResult" nillable="true" type="q121:ArrayOfLoadChargeDaiDian" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleSelectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleSelectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadChargeRuleSelectListResult" nillable="true" type="q122:ArrayOfLoadChargeRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDaiDianSelectList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDaiDianSelectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="LoadChargeDaiDianSelectListResult" nillable="true" type="q123:ArrayOfLoadChargeDaiDian" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q124:LoadChargeRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeRuleAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q125:LoadChargeRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeRuleEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeRuleEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailAddBySO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q126:LoadChargeDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailAddBySOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeDetailAddBySOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailEditBySO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q127:LoadChargeDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailEditBySOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeDetailEditBySOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailSOList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q128:LoadChargeDetailSearch" />
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q129:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailSOListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="LoadChargeDetailSOListResult" nillable="true" type="q130:ArrayOfLoadChargeDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailSoDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadChargeDetailSoDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadChargeDetailSoDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadChangeRuleTypeName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadChangeRuleTypeNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="GetLoadChangeRuleTypeNameResult" nillable="true" type="q131:ArrayOfLoadChargeRuleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadChangeErrorCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q132:LoadContainerSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoadChangeErrorCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="CheckLoadChangeErrorCountResult" nillable="true" type="q133:ArrayOfLoadChargeDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseLoadDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q134:LoadHuIdExtendSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseLoadDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="ReleaseLoadDetailListResult" nillable="true" type="q135:ArrayOfReleaseLoadDetail" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderIntercept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerOutPoNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OutBoundOrderInterceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OutBoundOrderInterceptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>