WMS.UI.Controllers/Service References/WCF.InBoundService/InBoundService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45936/InBoundService/InBoundService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" />
  <xs:import schemaLocation="http://localhost:45936/InBoundService/InBoundService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WMS.BLLClass" />
  <xs:import schemaLocation="http://localhost:45936/InBoundService/InBoundService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="WhClientListSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhClientListSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhClientListSelectResult" nillable="true" type="q1:ArrayOfWhClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientFlowNameSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="soNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerPo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientFlowNameSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="ClientFlowNameSelectResult" nillable="true" type="q2:ArrayOfFlowHead" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q3:InBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderListAddResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q4:InBoundOrderDetailSearch" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poNumberList" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemNumberList" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="InBoundOrderDetailListResult" nillable="true" type="q7:ArrayOfInBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q8:InBoundOrderDetail" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderDetailEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderEditClientCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q10:EditInBoundResult" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q11:ArrayOfstring" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clientCodeList" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderEditClientCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderEditClientCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundListDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q13:InBoundOrderSearch" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundListDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="InBoundListDetailResult" nillable="true" type="q15:ArrayOfInBoundOrderResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailDel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailDelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderDetailDelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInBound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerPoNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInBoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteInBoundResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInBoundBySO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInBoundBySOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInBoundBySOResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailListDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q16:InBoundOrderDetailSearch" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemNumberList" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderDetailListDCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="InBoundOrderDetailListDCResult" nillable="true" type="q18:ArrayOfInBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q19:InBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddDCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderListAddDCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddCommon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q20:InBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddCommonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderListAddCommonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitSelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q21:UnitsSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitSelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="GetUnitSelListResult" nillable="true" type="q22:ArrayOfUnitsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUnitName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q23:InBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUnitNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUnitNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddEcl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q24:InBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderListAddEclResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InBoundOrderListAddEclResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecZoneSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecZoneSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RecZoneSelectResult" nillable="true" type="q25:ArrayOfWhZoneResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegClientFlowNameSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegClientFlowNameSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RegClientFlowNameSelectResult" nillable="true" type="q26:ArrayOfBusinessFlowGroupResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q27:ReceiptRegisterSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="ReceiptRegisterListResult" nillable="true" type="q28:ArrayOfReceiptRegisterResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListCFS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q29:InBoundOrderDetailSearch" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soNumberList" nillable="true" type="q30:ArrayOfstring" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poNumberList" nillable="true" type="q31:ArrayOfstring" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuNumberList" nillable="true" type="q32:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListCFSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RegInBoundOrderListCFSResult" nillable="true" type="q33:ArrayOfInBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q34:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddReceiptRegisterResult" nillable="true" type="q35:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegister1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q36:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegister1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="AddReceiptRegister1Result" nillable="true" type="q37:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegisterDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="listEntity" nillable="true" type="q38:ArrayOfReceiptRegisterInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiptRegisterDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddReceiptRegisterDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q39:ReceiptRegisterDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="ReceiptRegisterDetailListResult" nillable="true" type="q40:ArrayOfReceiptRegisterDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReceiptRegisterDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q41:ReceiptRegisterDetailEdit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReceiptRegisterDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditReceiptRegisterDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegisterDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q42:ReceiptRegisterDetailEdit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegisterDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelReceiptRegisterDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q43:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelReceiptRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReceiptRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q44:ReceiptRegister" />
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="modifiedProNames" nillable="true" type="q45:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditReceiptRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditReceiptRegisterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReceiptProssName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q46:ReceiptRegisterInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReceiptProssNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckReceiptProssNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListDC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q47:InBoundOrderDetailSearch" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poNumberList" nillable="true" type="q48:ArrayOfstring" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuNumberList" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListDCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RegInBoundOrderListDCResult" nillable="true" type="q50:ArrayOfInBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailPartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q51:ReceiptRegisterDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailPartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="ReceiptRegisterDetailPartListResult" nillable="true" type="q52:ArrayOfReceiptRegisterDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListCom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q53:InBoundOrderDetailSearch" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soNumberList" nillable="true" type="q54:ArrayOfstring" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poNumberList" nillable="true" type="q55:ArrayOfstring" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skuNumberList" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegInBoundOrderListComResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="RegInBoundOrderListComResult" nillable="true" type="q57:ArrayOfInBoundOrderDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailListCom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q58:ReceiptRegisterDetailSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptRegisterDetailListComResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="ReceiptRegisterDetailListComResult" nillable="true" type="q59:ArrayOfReceiptRegisterDetailResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseReceipt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiptId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseReceiptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReleaseReceiptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSReceiptRegisterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q60:ReceiptRegisterSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DSReceiptRegisterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="DSReceiptRegisterListResult" nillable="true" type="q61:ArrayOfReceiptRegisterResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackReceiptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q62:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackReceiptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RollbackReceiptIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegReceiptBillCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q63:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegReceiptBillCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegReceiptBillCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClientCodeRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="client" nillable="true" type="q64:ArrayOfWhClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClientCodeRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="CheckClientCodeRuleResult" nillable="true" type="q65:ArrayOfFlowHeadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsInBoundOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entityList" nillable="true" type="q66:ArrayOfInBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsInBoundOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsInBoundOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsInBoundOrderExtend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entityList" nillable="true" type="q67:ArrayOfInBoundOrderInsert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportsInBoundOrderExtendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportsInBoundOrderExtendResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundClientCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q68:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundClientCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundClientCodeListResult" nillable="true" type="q69:ArrayOfEditInBoundResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundCustomerPoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q70:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundCustomerPoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundCustomerPoListResult" nillable="true" type="q71:ArrayOfEditInBoundResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemNumberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q72:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemNumberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundAltItemNumberListResult" nillable="true" type="q73:ArrayOfEditInBoundResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnitNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q74:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUnitNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditUnitNameListResult" nillable="true" type="q75:ArrayOfReceiptResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundCustPoByHuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q76:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundCustPoByHuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundCustPoByHuListResult" nillable="true" type="q77:ArrayOfReceiptResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemByHuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q78:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemByHuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundAltItemByHuListResult" nillable="true" type="q79:ArrayOfReceiptResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemStyleByHuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q80:EditInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInBoundAltItemStyleByHuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="EditInBoundAltItemStyleByHuListResult" nillable="true" type="q81:ArrayOfReceiptResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailClientCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q82:EditInBoundResult" />
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q83:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailClientCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailClientCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailSoNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q84:EditInBoundResult" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q85:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailSoNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailSoNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailCustomerPoNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q86:EditInBoundResult" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q87:ArrayOfstring" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q88:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailCustomerPoNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailCustomerPoNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q89:EditInBoundResult" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q90:ArrayOfstring" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q91:ArrayOfstring" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemList" nillable="true" type="q92:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailAltItemNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailUnitName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q93:EditInBoundResult" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q94:ArrayOfstring" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q95:ArrayOfstring" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemList" nillable="true" type="q96:ArrayOfstring" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="unitNameList" nillable="true" type="q97:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailUnitNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailUnitNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailSoNumberByHu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q98:EditInBoundResult" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q99:ArrayOfstring" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q100:ArrayOfstring" />
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="huList" nillable="true" type="q101:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailSoNumberByHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailSoNumberByHuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailCustomerPoNumberByHu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q102:EditInBoundResult" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q103:ArrayOfstring" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q104:ArrayOfstring" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="huList" nillable="true" type="q105:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailCustomerPoNumberByHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailCustomerPoNumberByHuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemByHu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q106:EditInBoundResult" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q107:ArrayOfstring" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q108:ArrayOfstring" />
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemList" nillable="true" type="q109:ArrayOfstring" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="huList" nillable="true" type="q110:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemByHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailAltItemByHuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemStyleByHu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q111:EditInBoundResult" />
        <xs:element xmlns:q112="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soList" nillable="true" type="q112:ArrayOfstring" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="poList" nillable="true" type="q113:ArrayOfstring" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemList" nillable="true" type="q114:ArrayOfstring" />
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="style1List" nillable="true" type="q115:ArrayOfstring" />
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="style2List" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="style3List" nillable="true" type="q117:ArrayOfstring" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="huList" nillable="true" type="q118:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDetailAltItemStyleByHuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDetailAltItemStyleByHuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhAgentListSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhAgentListSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="WhAgentListSelectResult" nillable="true" type="q119:ArrayOfWhAgent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckQueryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q120:ReceiptRegisterSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruckQueryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="TruckQueryListResult" nillable="true" type="q121:ArrayOfReceiptRegisterResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTruckStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTruckStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTruckStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueUpTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remark" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueUpTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueueUpTruckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegisterByTruck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q122:ReceiptRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelReceiptRegisterByTruckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelReceiptRegisterByTruckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderExtendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q123:InBoundOrderExntedSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InBoundOrderExtendListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="InBoundOrderExtendListResult" nillable="true" type="q124:ArrayOfSerialNumberInOutExtend" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitDefaultListSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnitDefaultListSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="UnitDefaultListSelectResult" nillable="true" type="q125:ArrayOfUnitDefault" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintInTempalte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiptId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintInTempalteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintInTempalteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q126:ExcelImportInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="ExcelImportInBoundListResult" nillable="true" type="q127:ArrayOfExcelImportInBound" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSONumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="checkSoList" nillable="true" type="q128:ArrayOfExcelImportInBoundSo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkSONumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkSONumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="checkSoList" nillable="true" type="q129:ArrayOfExcelImportInBound" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importForecastResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q130:ExcelImportInBound" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelImportInBoundEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="whCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportInBoundDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelImportInBoundDeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartReceiptDelayList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q131:ExcelImportInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartReceiptDelayListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="KmartReceiptDelayListResult" nillable="true" type="q132:ArrayOfKmartReceiptDelay" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartDelayReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entity" nillable="true" type="q133:ReceiptRegisterExtend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartDelayReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KmartDelayReasonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartReasontSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartReasontSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="KmartReasontSelectResult" nillable="true" type="q134:ArrayOfKmartWaitingReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartHeavyPalletList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q135:KmartHeavyPalletSearch" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="soNumber" nillable="true" type="q136:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartHeavyPalletListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="KmartHeavyPalletListResult" nillable="true" type="q137:ArrayOfKmartHeavyPalletResult" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartHeavyPalletEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="entity" nillable="true" type="q138:KmartHeavyPalletResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KmartHeavyPalletEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KmartHeavyPalletEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CottonExcelImportInBoundList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q139:ExcelImportInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CottonExcelImportInBoundListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="CottonExcelImportInBoundListResult" nillable="true" type="q140:ArrayOfExcelImportInBoundCotton" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportForecastCotton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entityList" nillable="true" type="q141:ArrayOfExcelImportInBoundCotton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportForecastCottonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelImportForecastCottonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditForecastCotton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entityCotton" nillable="true" type="q142:ExcelImportInBoundCotton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditForecastCottonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditForecastCottonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MosaicExcelImportInBoundList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/WMS.BLLClass" minOccurs="0" name="searchEntity" nillable="true" type="q143:ExcelImportInBoundSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MosaicExcelImportInBoundListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="MosaicExcelImportInBoundListResult" nillable="true" type="q144:ArrayOfExcelImportInBoundCom" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportForecastCommon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/MODEL_MSSQL" minOccurs="0" name="entityList" nillable="true" type="q145:ArrayOfExcelImportInBoundCom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelImportForecastCommonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcelImportForecastCommonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>